<!-- app-offers.component.html -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="img/offer_1.jpeg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Ahorra 20%</h6>
                    <h3 class="text-white mb-3">Oferta especial</h3>
                    <a routerLink="/shop" class="btn btn-primary">Aprovecha ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="img/offer_2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Ahorra 20%</h6>
                    <h3 class="text-white mb-3">Oferta especial</h3>
                    <a routerLink="/shop" class="btn btn-primary">Aprovecha ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>