<!-- Contenedor principal fluido que ocupa todo el ancho disponible -->
<!-- <div class="container-fluid"> -->
    <!-- Primera fila con fondo gris (bg-secondary) y padding en los ejes X y Y -->
    

    <!-- Segunda fila con logo, buscador y contacto (visible solo en desktop) -->
    <!-- <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex"> -->
        <!-- Columna del logo -->
        <!-- <div class="col-lg-4">
            <a routerLink="/"><img src="img/logof.png" alt="Logo de la pagina" width="450px" height="240px" class="header-logo"></a>
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Casanare</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Serv</span>
            </a> -->
        <!-- </div> --> 

        <!-- Columna del buscador -->
        <!-- <div class="col-lg-4 col-6 text-left">
            <form action="">
            </form>
        </div> -->

        <!-- Columna de información de contacto -->
        <!-- <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Servicio al cliente</p>
            <h5 class="m-0">+57 311-000-0000</h5>
        </div>
    </div>
</div> -->

<!-- Router outlet para la navegación (debería removerse del header) -->
