
<body class="bodylogin">
    <div class="formulario">
        <div class="house"><i routerLink="/" class="fa-solid fa-house"></i></div>
        <div class="iniciosesion">
            <h1>Inicio de sesion</h1>
        </div>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>   
            </div>
            <div class="recordar"><a>Olvidé mi contraseña</a></div>
            <a href="index.html"><input type="submit" value="Iniciar"></a>
            <div class="registrarse">
                <a routerLink="/registro"> Quiero hacer el registro</a>
            </div>
        </form>
    </div>
</body>

