<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASANARESERV</title>
    <link rel="stylesheet" href="../login/login.component.css">
    <link rel="icon" href="imag/logo.jpg">
</head>

<body>
    
    <div class="loginfodo"><img src="img/login.webp" alt="" width="100%"></div>
    <div class="formulario">
        <div class="iniciosesion">
            <h1>Inicio de sesion</h1>
        </div>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Olvidó su contraseña?</div>
            <a href="index.html"><input type="submit" value="Iniciar"></a>
            <div class="registrarse">
                 <a href="formlogin">Quiero hacer el registro</a>
            </div>
        </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
