<app-header></app-header>
<app-navbar></app-navbar>
<body>
    <div class="formulario">
        <div class="iniciosesion">
            <h1>Inicio de sesion</h1>
        </div>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Olvidó su contraseña?</div>
            <a href="index.html"><input type="submit" value="Iniciar"></a>
            <div class="registrarse">
                Quiero hacer el <a routerLink="/registro">registro</a>
            </div>
        </form>
    </div>
</body>

<app-footer></app-footer>