.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #ff6600;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  background: #ff6600;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background: #cc5500;
}
/* Ocultar el campo de intercambio por defecto */
.hiden¨{
  display: none;
}

/*Efecto de aparicion*/
.visible{
display: block;
animation: fadein 0.3s ease-in-out;
}
@keyframes fadein{
  from {
    opacity: 0;
    transform: translate(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cart-empaty-mesage {
  text-align: center;
  font-size: 18px;
  color: #667;
  margin-top: none;
}
