
 
<body>
    <div class="formulario">
        <div class="house"><i routerLink="/" class="fa-solid fa-house"></i></div>
        <div class="iniciosesion">
            <h1>Registro</h1>
        </div>
        <form method="post">
            <div class="form-group">
                <label for="username"></label>
                <input 
                placeholder="nombre y apellidos" 
                    type="text" 
                    id="username" 
                    name="username" 
                    class="form-control" 
                    required
                    autocomplete="username"
                >
            </div>
            <div class="form-group">
                <label for="username"></label>
                <input
                placeholder="Número celular" 
                    type="text" 
                    id="username" 
                    name="username" 
                    class="form-control" 
                    required
                    autocomplete="username"
                >
            </div>

            <div class="form-group">
                <label for="username"></label>
                <input
                placeholder="Direccion correspondencia" 
                    type="text" 
                    id="username" 
                    name="username" 
                    class="form-control" 
                    required
                    autocomplete="username"
                >
            </div>

            <div class="form-group">
                <label for="username"></label>
                <input
                placeholder="Correo" 
                    type="text" 
                    id="username" 
                    name="username" 
                    class="form-control" 
                    required
                    autocomplete="username"
                >
            </div>

            <div class="form-group">
                <label for="username"></label>
                <input
                placeholder="Contraseña" 
                    type="text" 
                    id="username" 
                    name="username" 
                    class="form-control" 
                    required
                    autocomplete="username"
                >
            </div>

            <div class="form-group">
                <label for="username"></label>
                <input 
                placeholder=" Confirmar Contraseña"
                    type="text" 
                    id="username" 
                    name="username" 
                    class="form-control" 
                    required
                    autocomplete="username"
                >
            </div>
            
            <div class="recordar">  <input type="checkbox" required > <a>Deacuerdo con Terminos y Condiciones</a></div>
            <a href="#"><input type="submit" value="Registrar"></a>
            <div class="registrarse">
                 <a routerLink="/loggin">Ya tengo una Cuenta</a>
            </div>
        </form>

    </div>
</body>


