
<app-header></app-header>
<app-navbar></app-navbar>
<body>
    <div class="formulario">
        <div class="house"><i routerLink="/" class="fa-solid fa-house"></i></div>
        <div class="iniciosesion">
            <h1>Registro</h1>
        </div>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Ingrese su nombre</label>
            </div>

            <div class="username">
                <input type="text" required>
                <label>Número celular</label>
            </div>

            <div class="username">
                <input type="text" required>
                <label>Dirección correspondencia</label>
            </div>

            <div class="username">
                <input type="email" required>
                <label>Correo</label>
            </div>

            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>

            <div class="recordar">  <input type="checkbox" required> <a>Deacuerdo con Terminos y Condiciones</a></div>
            <a href="#"><input type="submit" value="Registrar"></a>
            <div class="registrarse">
                 <a routerLink="/loggin">Ya tengo una Cuenta</a>
            </div>
        </form>

    </div>
</body>


<app-footer></app-footer>