<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CasanareServ</title>
</head>
<body>
  <nav>
    <li><a routerLink="carrito">Carrito</a><a routerLink="">Home</a><a routerLink="loggin">loggin</a></li>
  </nav>
  <app-header></app-header>
  <app-navbar></app-navbar>
  <app-carousel></app-carousel>
  <app-features></app-features>
  <app-categories></app-categories>
  <app-featured-products></app-featured-products>
  <app-offers></app-offers>
  <app-recent-products></app-recent-products>
  <app-vendors></app-vendors>
  <app-footer></app-footer>
 <router-outlet></router-outlet>
</body>
</html>
