
 
<body>
    <!-- formulario -->
    <div class="formulario">
        <div class="house"><i routerLink="/" class="fa-solid fa-house"></i></div>
        <div class="iniciosesion">
            <h1>Registro</h1>
        </div>
        <form  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username"></label>
                <input 
                placeholder="nombre y apellidos" 
                    type="text" 
                    id="username" 
                    name="username" 
                    class="form-control" 
                    required
                    autocomplete="username"
                    [(ngModel)]="userData.name"
                    autofocus
                >
            </div>
            <div class="form-group">
                <label for="phone"></label>
                <input
                placeholder="Número celular" 
                    type="number" 
                    id="phone" 
                    name="phone" 
                    class="form-control" 
                    required
                    autocomplete="phone"
                >
            </div>

            <div class="form-group">
                <label for="adress"></label>
                <input
                placeholder="Direccion correspondencia" 
                    type="text" 
                    id="adress" 
                    name="adress" 
                    class="form-control" 
                    required
                    autocomplete="DireccionVivienda"
                >
            </div>

            <div class="form-group">
                <label for="email"></label>
                <input
                placeholder="Correo" 
                    type="text" 
                    id="email" 
                    name="email" 
                    class="form-control" 
                    required
                    autocomplete="username"
                    [(ngModel)]="userData.email"
                >
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input
                placeholder="Contraseña" 
                    type="password" 
                    id="password" 
                    name="password" 
                    class="form-control" 
                    required
                    autocomplete="username"
                    [(ngModel)]="userData.password"
                >
            </div>

            <div class="form-group">
                <label for="confirmPassword"></label>
                <input 
                placeholder=" Confirmar Contraseña"
                    type="password" 
                    id="confirmPassword" 
                    name="confirmPassword" 
                    class="form-control" 
                    required
                    [(ngModel)]="userData.confirmPassword"
                >
            </div>
            <br>
        
            
            
           <!--  boton de iniciar -->
            <div class="button-container">
                <button type="submit" class="iniciar">Iniciar</button>
              </div>
            <!-- ya tengo otra cuenta  -->
            <div class="registrarse">
                 <a routerLink="/loggin">Ya tengo una Cuenta</a>
            </div>
        </form>

    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</body>


