<body class="bodylogin">
    <div class="formulario">
        <div class="house"><i routerLink="/" class="fa-solid fa-house"></i></div>
        <div class="iniciosesion">
            <h1>Iniciar sesión</h1>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email"></label>
                <input placeholder="Email" type="text" id="email" name="email" class="form-control" required
                    autocomplete="email" [(ngModel)]="userData.email">
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input placeholder="Contraseña" type="password" id="password" name="password" class="form-control"
                    required [(ngModel)]="userData.password">
            </div>



            <a routerLink="/forgotpassword">¿Olvidaste tu contraseña?</a>            
            <div class="button-container">
                <button type="submit" class="iniciar">Iniciar</button>
              </div>
            <div class="registrarse">
                
                <a routerLink="/registro">Registrarme</a>
            </div>
        </form>

    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</body>