<body class="bodyformlogin">
    <div class="formulario">
        <div class="house"><i routerLink="/" class="fa-solid fa-house"></i></div>
        <div class="iniciosesion">
            <h1>Iniciar s  esión</h1>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email"></label>
                <input placeholder="Email" type="text" id="email" name="email" class="form-control" required
                    autocomplete="email" [(ngModel)]="userData.email">
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input placeholder="Contraseña" type="password" id="password" name="password" class="form-control"
                    required [(ngModel)]="userData.password">
            </div>



            <div class="recordar"> <a>Olvidé mi contraseña</a></div>
            <a href="#"><input type="submit" value="iniciar"></a>
            <div class="registrarse">
                <a routerLink="/registro">Regisratrme</a>
            </div>
        </form>

    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</body>